@page "/"

<PageTitle>Index</PageTitle>

<h1>Bem vindo!</h1>
<div>
    <p>Este é um CRUD em blazor web assembly de super heróis.</p>
    <p>Para funcionar, basta alterar caminho de acesso ao seu banco de dados em BlazorFullStackCrud.Server/appsettings.json</p>
    <p>E rodar os seguintes comandos no console do gerenciador de pacotes:</p>
</div>

<div>
    <p class="text-decoration-underline">dotnet tool install --global dotnet-ef</p>
    <p class="text-decoration-underline">cd .\BlazorFullStackCrud\server</p>
    <p class="text-decoration-underline">dotnet ef database update</p>
</div>